<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Created_at</th>
          </tr>
          </thead>
          <tbody>
            <%= render @posts %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
